/* City List Styling */
.city-list {
  border-radius: 5px;
  border: 40px double black;
  height: 600px;
  background-color: chartreuse;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
}


/* Container for City Searches */
#city-container {
  height: 100%;
  padding: 20px;
}
.cityListBtn:hover, .cityListBtn:active {
  background-color: #D4E2F0;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.5);
}


/* Forecast Button Styling */
#btnForecast {
  height: 60%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnForecast:hover {
  background-color: #ddd;
}

#btnForecast:active {
  background-color: #ccc;
}


/* UV Index Styling - Common Properties */
.low, .moderate, .high, .veryHigh {
  height: 25px;
  width: 40px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 2px;
}


.low {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: orange;
}

.veryHigh {
  background-color: red;
}

/* Five Day Forecast Styling */
.fiveDayForecast {
  background-color: blue;
  color: white;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 18%;
  min-width: 150px;
  transition: transform 0.3s ease;
}

.fiveDayForecast:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 600px) {
  .fiveDayForecast {
    width: 100%;
    min-width: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
