.city-list {
  border-radius: 10px;
  border: 3px solid #4a4e69; /* Dark grey border for sophistication */
  height: 600px;
  background: linear-gradient(145deg, #e9edc9, #fdfd96); /* Gradient for a fresh look */
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.city-list:hover {
  transform: scale(1.02); /* Slight scale on hover for an interactive feel */
}

/* Container for City Searches - Clean and Spacious */
#city-container {
  height: 100%;
  padding: 20px;
  background-color: #f7f7f7; /* Light background for contrast */
}
.cityListBtn {
  background-color: #9ad3bc; /* Calm teal background */
  color: black; /* White text for readability */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  transition: all 0.3s ease;
}
.cityListBtn:hover, .cityListBtn:focus {
  background-color: #89bfab; /* Darker shade on hover/focus */
  box-shadow: 0 5px 10px rgba(0, 123, 255, 0.4);
}



/* Forecast Button Styling */
#btnForecast {
  height: 60%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnForecast:hover {
  background-color: #e76f51;
}

#btnForecast:active {
  background-color: #ccc;
}


/* UV Index Styling - Common Properties */
.low, .moderate, .high, .veryHigh {
  height: 25px;
  width: 40px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  font-weight: bold;
  margin: 2px;
}


.low { background-color: #2a9d8f; }
.moderate { background-color: #e9c46a; }
.high { background-color: #f4a261; }
.veryHigh { background-color: #e76f51; }

/* Five Day Forecast Styling */
.fiveDayForecast {
  background-color: #264653;
  color: #e9c46a;
  float: left;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(20% - 20px);;
  min-width: 150px;
  transition: transform 0.3s ease;
}

.fiveDayForecast:hover {
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 600px) {
  .fiveDayForecast {
    width: 100%;
    margin: 10px 0;
  }

  .city-list {
    border: 2px solid #4a4e69;
    padding: 10px;
  }
}
